################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Image converter/bin/Debug
/Image converter/obj/Debug
