<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Image_converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Image_converter.Properties.Settings>
            <setting name="useProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxy" serializeAs="String">
                <value/>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
        </Image_converter.Properties.Settings>
    </userSettings>
</configuration>
